<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/main.js" verb="" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeJs">
          <match url="." />
          <action type="Rewrite" url="dist/main.js" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument enabled="true">
      <files>
        <add value="dist/main.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>